development:
  adapter: postgresql
  encoding: utf8
  reconnect: false
  database: food_tracker_development
  pool: 5
  username: postgres
  password: password

test:
  adapter: postgresql
  encoding: utf8
  reconnect: false
  database: food_tracker_test
  pool: 5
  username: postgres
  password: password

