/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

//@import "bootstrap-sprockets";
@import "bootstrap";

body {
  margin-top: 50px;
  /* Margin bottom by footer height */
  margin-bottom: 30px;
}

html {
  position: relative;
  min-height: 100%;
}

.center_div{
    margin: 0 auto;
    width:40% /* value of your choice which suits your alignment */
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  background-color: #f5f5f5;
}
